@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong> Aradığınız sayfa bulunamadı.</strong>
</p>
<a href="/">
    <strong>Anasayfa</strong>
</a>